/* Universal Box Sizing w. Inheritance*/
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
:root {
	/* --bg: pink; */
	--size: 80;
	/*  Using viewport units  https://css-tricks.com/simple-little-use-case-vmin/ */
	--unit: calc((var(--size) / 1063) * 1vmin);
	--skin: rgb(255, 221, 186);
	--eye-white: rgb(255, 255, 255);
	--hair: rgb(255, 255, 0);
	--shirt: rgb(74, 222, 191);
	--shorts: rgb(30, 95, 73);
	--black: rgb(0, 0, 0);
}

body {
	background-color: var(--bg);
	min-height: 100vh;
}

img {
	/* set the image to opacity to create a trace paper setup */
	opacity: 0.5;
}

/* Butters intrinsic w 752 + h 1063 */
/* Intrinsic height can be located in the image location of the dev tools */
.butters {
	/* background-color: hsla(0, 100%, 50%, 0.2); */
}

img,
.butters {
	/* as the height and width of the image and drawing are the same they can be placed together */
	height: calc(1063 * var(--unit));
	width: calc(752 * var(--unit));

	/* Aligning the image in the centre */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* display: none; */
}
.face {
	/* background-color: var(--skin); */
	height: 62.5%;
	width: 88%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-48.5%, -66%);
	border-radius: 51% 50% 50% 50%;
}
.butters__face--left-eye {
	/* background-color: var(--eye-white); */
	height: 32.5%;
	width: 28%;
	position: absolute;
	top: 39%;
	left: 22%;
	border-radius: 90% 55% 90% 55%;
	/*             tl  tr  br  bl */
}
.butters__face--right-eye {
	/* background-color: var(--eye-white); */
	height: 32.5%;
	width: 28%;
	position: absolute;
	top: 39%;
	left: 49.5%;
	border-radius: 55% 90% 55% 90%;
	/*             tl  tr  br  bl */
}
.butters__face--left-eyeball {
	/* background-color: var(--black); */
	height: 3.6%;
	width: 3.6%;
	position: absolute;
	top: 54%;
	left: 38.8%;
	border-radius: 50%;
}
.butters__face--right-eyeball {
	/* background-color: var(--black); */
	height: 3.6%;
	width: 3.6%;
	position: absolute;
	top: 54%;
	left: 55%;
	border-radius: 50%;
}

.butters__face--right-eyebrow {
	/* border: 0.5px var(--black) solid; */
	width: 20%;
	position: absolute;
	top: 38.7%;
	left: 16.8%;
	transform: rotate(139deg);
}
.butters__face--left-eyebrow {
	/* border: 0.5px var(--black) solid; */
	width: 20%;
	position: absolute;
	top: 38.9%;
	left: 64%;
	transform: rotate(39.5deg);
}
.butters__face--smile {
	/* border: 0.5px var(--black) solid; */
	border-radius: 50%;
	height: 30%;
	width: 30%;
	position: absolute;
	top: 55.7%;
	left: 34.5%;
	clip-path: inset(95% 0% 0% 0);
}

/* the container that holds all the hair */
.butters__hair {
	/* background-color: hsla(180, 100%, 50%, 0.2); */
	position: absolute;
	height: 26.5%;
	width: 72%;
	left: 49%;
	top: 1%;
	transform: translate(-50%, 0);
}

.butters__hair--one {
	background-color: var(--hair);
	position: absolute;
	height: 110%;
	width: 100%;
	top: 30%;
	left: 35%;
	transform: translate(-50%, -50%);

	clip-path: polygon(32% 23%, 46% 27%, 67% 43%, 43% 49%, 35% 26%);
}

/* to cut pieces to bits, use clip path */
/* clip-path: inset(0 0 0 0) */

/* for more refinement with boarder radius use the divide to get points in each corner rather than one */
/* border-radius: 55% 60% 45% 70% / 40% 60% 45% 70%; */

/* 			
<div class="butters__hair">
	<div class="butters__hair--one"></div>
	<div class="butters__hair--two"></div>
	<div class="butters__hair--three"></div>
	<div class="butters__hair--four"></div>
	<div class="butters__hair--five"></div>
	<div class="butters__hair--six"></div>
</div>
*/
