/* Universal Box Sizing w. Inheritance*/
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
:root {
	/* --bg: rgb(253, 200, 209); */
	--size: 80;
	/*  Using viewport units  https://css-tricks.com/simple-little-use-case-vmin/ */
	--unit: calc((var(--size) / 1063) * 1vmin);
	--skin: rgb(255, 221, 186);
	--eye-white: rgb(255, 255, 255);
	--hair: rgb(255, 255, 0);
	--shirt: rgb(74, 222, 191);
	--shorts: rgb(30, 95, 73);
	--black: rgb(0, 0, 0);
}

body {
	background-color: var(--bg);
	min-height: 100vh;
}

img {
	/* set the image to opacity to create a trace paper setup */
	opacity: 0.5;
}

/* Butters intrinsic w 752 + h 1063 */
/* Intrinsic height can be located in the image location of the dev tools */
.butters {
	/* background-color: hsla(0, 100%, 50%, 0.2); */
}

img,
.butters {
	/* as the height and width of the image and drawing are the same they can be placed together */
	height: calc(1063 * var(--unit));
	width: calc(752 * var(--unit));

	/* Aligning the image in the centre */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.face {
	background-color: var(--skin);
	height: 62.5%;
	width: 88%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-48.5%, -66%);
	border-radius: 51% 50% 50% 50%;
}
.butters__face--left-eye {
	background-color: var(--eye-white);
	height: 32.5%;
	width: 28%;
	position: absolute;
	top: 39%;
	left: 22%;
	border-radius: 90% 55% 90% 55%;
	/*             tl  tr  br  bl */
}
.butters__face--right-eye {
	background-color: var(--eye-white);
	height: 32.5%;
	width: 28%;
	position: absolute;
	top: 39%;
	left: 49.5%;
	border-radius: 55% 90% 55% 90%;
}
.butters__face--left-eyeball {
	background-color: var(--black);
	height: 3.6%;
	width: 3.6%;
	position: absolute;
	top: 54%;
	left: 38.8%;
	border-radius: 50%;
}
.butters__face--right-eyeball {
	background-color: var(--black);
	height: 3.6%;
	width: 3.6%;
	position: absolute;
	top: 54%;
	left: 55%;
	border-radius: 50%;
}
.butters__face--right-eyebrow {
	border: 0.5px var(--black) solid;
	width: 20%;
	position: absolute;
	top: 38.7%;
	left: 16.8%;
	transform: rotate(139deg);
}
.butters__face--left-eyebrow {
	border: 0.5px var(--black) solid;
	width: 20%;
	position: absolute;
	top: 38.9%;
	left: 64%;
	transform: rotate(39.5deg);
}
.butters__face--smile {
	border: 0.5px var(--black) solid;
	border-radius: 50%;
	height: 30%;
	width: 30%;
	position: absolute;
	top: 55.7%;
	left: 34.5%;
	clip-path: inset(95% 0% 0% 0);
}

/* Hair container */
.butters__hair {
	position: absolute;
	height: 26.5%;
	width: 72%;
	left: 49%;
	top: 1%;
	transform: translate(-50%, 0);
}
.butters__hair--one {
	background-color: var(--hair);
	position: absolute;
	height: 110%;
	width: 100%;
	top: 30%;
	left: 35%;
	transform: translate(-50%, -50%);

	clip-path: polygon(32% 23%, 46% 27%, 67% 43%, 43% 49%, 35% 26%);
}
.butters__hair--two {
	background-color: var(--hair);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 26.5%;
	left: 41%;
	transform: translate(-50%, -50%);

	clip-path: polygon(89% 22%, 42% 51%, 82% 47%);
}
.butters__hair--three {
	background-color: var(--hair);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 46.5%;
	left: 51%;
	transform: translate(-50%, -50%);

	clip-path: polygon(72% 23%, 86% 34%, 101% 56%, 82% 46%, 26% 49%, 27% 29%);
}
.butters__hair--four {
	background-color: var(--hair);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 71.5%;
	left: 55.5%;
	transform: translate(-50%, -50%);

	clip-path: polygon(
		76% 21%,
		87% 48%,
		93% 80%,
		87% 69%,
		65% 47%,
		51% 37%,
		21% 23%
	);
}
.butters__hair--five {
	background-color: var(--hair);
	position: absolute;
	height: 101%;
	width: 59%;
	top: 83.5%;
	left: 38.5%;
	transform: translate(-50%, -50%);

	clip-path: polygon(
		83% 18%,
		66% 35%,
		45% 51%,
		28% 60%,
		20% 64%,
		15% 66%,
		38% 20%
	);
}
.butters__hair--six {
	background-color: var(--hair);
	position: absolute;
	height: 114%;
	width: 71%;
	top: 65%;
	left: 31.5%;
	transform: translate(-50%, -50%);

	clip-path: polygon(
		42% 18%,
		50% 14%,
		69% 43%,
		28% 49%,
		4% 53%,
		19% 38%,
		35% 21%
	);
}

/* Hands container */
.butters__hands {
	position: absolute;
	height: 10.5%;
	width: 77.5%;
	top: 87%;
	left: 50.5%;
	transform: translate(-50%, -50%);
}
.butter__hands--left-hand {
	background-color: var(--skin);
	position: absolute;
	height: 84.5%;
	width: 17.5%;
	top: 45%;
	left: 9%;
	transform: translate(-50%, -50%);
	border-radius: 50% 50%;
}
.butter__hands--left-thumb {
	background-color: var(--skin);
	border: solid 1px var(--black);
	position: absolute;
	height: 47%;
	width: 9%;
	top: 35%;
	left: 15%;
	transform: translate(-50%, -50%);
	border-radius: 50% 50%;
}
.butter__hands--right-hand {
	background-color: var(--skin);
	position: absolute;
	height: 84.5%;
	width: 17.5%;
	top: 50%;
	left: 91.5%;
	transform: translate(-50%, -50%);
	border-radius: 50% 50%;
}
.butter__hands--right-thumb {
	background-color: var(--skin);
	border: solid 1px var(--black);
	position: absolute;
	height: 47%;
	width: 9%;
	top: 35%;
	left: 86%;
	transform: translate(-50%, -50%);
	border-radius: 50% 50%;
}

.butters__torso {
	position: absolute;
	height: 30%;
	width: 77%;
	top: 79%;
	left: 51%;
	transform: translate(-50%, -50%);
}
.butters__torso--shirt-bottom {
	background-color: var(--shirt);
	position: absolute;
	height: 30%;
	width: 83%;
	top: 85.4%;
	left: 51.5%;
	transform: translate(-50%, -50%);
	border-radius: 50% 50%;
}
.butters__torso--shirt-middle-square {
	background-color: var(--shirt);
	position: absolute;
	height: 99%;
	width: 70%;
	top: 39.4%;
	left: 50.5%;
	transform: translate(-50%, -50%);
}
.butters__torso--shirt-left-arm {
	background-color: var(--shirt);
	height: 115.5%;
	width: 28%;
	position: absolute;
	top: -5%;
	left: 2%;
	border-radius: 151% 55% 94% 55%;
	clip-path: inset(0% 0 25% 0);
	/*             tl  tr  br  bl */
}
.butters__torso--shirt-left-arm-two {
	background-color: var(--shirt);
	height: 50%;
	width: 12%;
	position: absolute;
	top: 30%;
	left: 2%;
	transform: rotate(16deg);
	clip-path: inset(12% 0 10% 0);
	border-radius: 0% 0% 0% 50%;
}
.butters__torso--shirt-right-arm {
	background-color: var(--shirt);
	height: 82%;
	width: 17%;
	position: absolute;
	top: -3%;
	left: 79%;
	transform: rotate(159deg);

	border-radius: 55% 60% 45% 70% / 40% 60% 45% 70%;
}
.butters__torso--shirt-right-arm-two {
	background-color: var(--shirt);
	height: 37%;
	width: 29%;
	position: absolute;
	top: 11%;
	left: 68.5%;
	transform: rotate(62deg);
	clip-path: inset(0% 31% 0% 0%);
}
.butters__torso--under-arm-left-line-one {
	border: 1px var(--black) solid;
	width: 11%;
	position: absolute;
	top: 60.7%;
	left: 8.9%;
	transform: rotate(105deg);
}
.butters__torso--under-arm-left-line-two {
	border: 1px var(--black) solid;
	width: 6.1%;
	position: absolute;
	top: 46.4%;
	left: 14.3%;
	transform: rotate(120deg);
}
.butters__torso--under-arm-right-line-one {
	border: 1px var(--black) solid;
	width: 12%;
	position: absolute;
	top: 63.7%;
	left: 80.5%;
	transform: rotate(74deg);
}
.butters__torso--under-arm-right-line-two {
	border: 1px var(--black) solid;
	width: 6.4%;
	position: absolute;
	top: 48.4%;
	left: 80.3%;
	transform: rotate(63deg);
}
.butters__torso--middle-line {
	border: 1px var(--black) solid;
	height: 76%;
	position: absolute;
	top: 23%;
	left: 50%;
}
.butters__legs {
	/* background-color: hsla(0, 100%, 50%, 0.2); */
	background-color: var(--shorts);
	height: 10%;
	width: 60%;
	position: absolute;
	top: 88.7%;
	left: 21.5%;
}
/* to cut pieces to bits, use clip path */
/* clip-path: inset(0 0 0 0) */

/* for more refinement with boarder radius use the divide to get points in each corner rather than one */
/* border-radius: 55% 60% 45% 70% / 40% 60% 45% 70%; */

/* to create the trace background colour */
/* background-color: hsla(0, 100%, 50%, 0.2); */
/* 
<div class="butters__torso--under-arm-right-line-one"></div>
<div class="butters__torso--under-arm-right-line-two"></div> 
<div class="butters__torso--middle-line"></div> 
*/
